<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <title>Handy Gibberish-ifier</title>
</head>

<!--Linked tabs script-->
<script src="/js/tabs.js"></script>

<body>
<h1>
    Handy Gibberish-ifier
</h1>

<!--Tab Buttons-->
<div class="tabs">
    <button class="tablinks" onclick="openTab(event, 'Encrypt')">Encrypt</button>
    <button class="tablinks" onclick="openTab(event, 'Decrypt')">Decrypt</button>
</div>

<!--Encrypt Tab Contents-->
<div id="Encrypt" class="tabcontent">
    <h3>Encrypt</h3>
    <label for="encryptInput">Enter text to encrypt below:</label>
    <textarea id="encryptInput" rows="4" cols="50"></textarea>
    <button onclick="encryptText()">Encrypt</button>
    <label for="encryptOutput">Encrypted text:</label>
    <textarea id="encryptOutput" rows="4" cols="50" readonly></textarea>
</div>

<!--Decrypt Tab Contents-->
<div id="Decrypt" class="tabcontent" style="display:none;">
    <h3>Decrypt</h3>
    <label for="decryptInput">Enter text to decrypt below:</label>
    <textarea id="decryptInput" rows="4" cols="50"></textarea>
    <button onclick="decryptText()">Decrypt</button>
    <label for="decryptOutput">Decrypted text:</label>
    <textarea id="decryptOutput" rows="4" cols="50" readonly></textarea>
</div>


</body>

</html>